[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atlassian-python-api = "*"
black = "*"
flask = "*"
flask-caching = "*"
redis = "*"
python-dotenv = "*"
langchain = "*"
jq = "*"
beautifulsoup4 = "*"
lxml = "*"
openai = "*"
tiktoken = "*"
faiss-cpu = "*"
streamlit = "*"
streamlit-chat = "*"

[dev-packages]

[requires]
python_version = "3.11"
